.galleria-exit{
    position:absolute;
    top:12px;
    right:12px;
    z-index:10;
    color:#ffffff;
}


body {
font-family: 'Lato', sans-serif;
font-size:15px;
background-color:#676565;
}

.rest{
	position:relative;
	top:50px;
	width:100%;
}

#title{
    font-size:35px;
    font-family: 'Montserrat', sans-serif;
    font-weight:100;
    margin-top:15px;
   color:#ffffff;
}

.intro{
    padding-right:30px;
    padding-left:30px;
}


.intro p{
	font-size: 15px;
	padding-bottom: 60px;
    color:#ffffff;
    line-height: 280%;
    font-weight:100;
}

#back{
    color:#ffffff;
    text-decoration: none;
}

#back:hover{
	color:#e6a59f;
}

#other{
  float:right;  
    color:#ffffff;
    text-decoration: none;
}

#other:hover{
	color:#e6a59f;
}

.introp{
    margin-top:-30px;
}

.intro img{
    height:200px;
    margin-right: 10%;
    margin-left: 10%;
}

.navbar {
	position:fixed;
	background-color: #d3d3d3;
	top:0;
	width:100%;
	height:50px;
	z-index:10;
}

.navbar li{
	display:inline;
	font-size:30px;
	padding:20px;
	text-decoration:none;
}

.navbar_dropdown{
	display:none;
}

.dropdown a{
	font-size:40px;
}

.icon-menu{
	display:none;
}

.btn{
	position:relative;
	right:50%;
	left:40%;
    background-color:#82d3a5;
    font-family:'Montserrat', sans-serif;
}

/*for other.html*/
.other p{
    font-size:20px;
}



#sfquote{  
    float:right;
    width:40%;
}

#description{
 color:#ecc476;   
}

