@charset 'UTF-8';

/*jumbotron & triangle delegated*/

* {
font-family:'Roboto', sans-serif;
    font-weight:300;
}

.ux_work a {
    text-decoration:none;
    color:#e6817d;
}

.ux_work a:hover {
    color:#82d3a5;
    text-decoration: none;
}

/*the whole section with portfolio*/


.ux_work a:hover, .jumbotronimage a:hover {
	width:100%;
	height:100%;
	opacity:0.6;
}


.ux_work .row{
    margin-bottom:2%;
    margin-top:1%;
}


/*title of all the separate works*/
#title{
	letter-spacing: 0.15em;
	font-size:1.3em;
    font-weight:500;
    color:#5E676C;
}

.timeline, .myeplay, .rainbowart, .flunkless, .crown, .younote, .teachat, .fle, .programming, .mustaske{
    padding:1em;
}



/*start change to make for cell phone*/
@media only screen and (max-width:995px){
    
    .project{
           margin-top:2%;
        margin-bottom:2%;
    }
    
}


/*start new*/


.jumbotronimage img{
    margin-top:6.7em;
}

.noPadding {
    padding:0 0;
}

.section_title {
    font-weight:600;
    letter-spacing: 0.2em;
    font-size:2em;
}

.currentJobDescription, .descriptionTitle{
    color:#5E676C;
    font-weight: 400;
    font-size:1.13em;
    letter-spacing: 0.09em;
}

.descriptionTitle {
    font-weight:600;
}

.previousExperience {
    color:#A0A0A0;
    font-weight:300;
    letter-spacing: 0.08em;
    font-size:0.95em;
}


.oppia img{
    margin-top:2em;
}

.learningEquality {
    margin-top:1.5em;
}

.oppiaDescription {
    margin-top:.5em;
}

.oppia, .oppiaDescription {
    padding-right:10px;
}

.paddingRight {
    padding-right:20px;
}

.ux_work {
    margin-top:1.5em;
}



@media only screen and (max-width:995px){
    .jumbotronimage img{
        margin-top:1.6em;   
    }
    
    .oppia img {
        margin-top:2em;   
    }
    
    .noPaddingSmall {
        padding:0 0;   
    }
    
    .timeline, .myeplay, .crown, .flunkless, .mustaske, .programming {
        padding:5px 3px;   
    }
    

}


@media only screen and (max-width:768px){
    .noPadding {
        padding:0 0.5em;   
    }
    
    .jumbotronimage img {
        padding:0 1.5em;   
    }
    

}

@media only screen and (max-width:495px){
    
        .oppia img {
        margin-top:0.5em;   
    }

}


