@charset 'UTF-8';

/*jumbotron & triangle delegated*/

* {
font-family:'Open Sans', sans-serif;
    font-weight:400;
}




.description {
    font-size:14px;
    letter-spacing: .01em;
    font-weight:400;
    line-height: 170%;
    color:#444;
    margin-bottom:0;
}

.top {
    padding-bottom:100px;
}

.description a {
    text-decoration: none;
    color:#6aa1d6;
}

.description a:hover {
    color:#999;
}


.ux_work2 {
    margin-bottom:8em;
    margin-top:6em;
}

.ux_work2 .container{
    padding-left:3em;
    padding-right:3em;
}

.ux_work2 .col-md-3 {
    padding:0 0;
}

.inspiration {
    background-color:#ececec;
    height:100%;
}

.imageContainers, .squareImages {
    padding:0 0;   
}

.imageContainers {
    position:relative;
}

.squareImages {
    opacity:.7;  
    position:relative;
}

.title {
    position:absolute;
    top:88%;
    bottom:0px;
    width:100%;
    color:#fff;
    left:7%;
}

.dark {
    color:#444;
}


.overlay {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:rgba(0,0,0, .7);
    display:none;
}

.description1 {
    color:#ececec;
    font-weight:400;
    position:absolute;
    text-align:center;
    display:none;
    font-size:15px;
    margin:7%;
}

.imageContainers:hover .description1 {
    display:block;
    top:25%;
    transition: bottom 1s ease;
    transition: display 1s ease;
}

.imageContainers:hover .title {
    display:none;
}

.imageContainers:hover .overlay {
    display:block;
}

.imageContainers:hover .squareImages {
    transform: scale(1.1);
    transition:transform .3s;
}

.imageContainers {
    overflow:hidden;
    position:relative;
}

.navbar.bigger a {
    color:#c1c2c2;
}







@media only screen and (max-width:995px){
 
    

}


@media only screen and (max-width:768px){



    .description1 {
        font-size:13px;
    }

    .imageContainers:hover .description1 {

        top:15%;

    }
    .title {
        top:80%;

    }

    

}

@media only screen and (max-width:495px){


}


