@charset 'UTF-8';

/*jumbotron & triangle delegated*/

body {
font-family:'Karla', sans-serif;
}

/*jumbotron*/


#logo {
    vertical-align: left;   
}

.jumbotron p { /*p words in jumbotron*/
	font-family:'Karla', sans-serif;
	font-size: 25px;
	color:#fbfcfc;

    line-height: 150%;
    
    text-align: left;
margin-top:9%;
}

#hello{ /*hello word*/
    font-family:'Montserrat', sans-serif;
	font-size:100px;
	font-weight:700;
}

.jumbotron { 
	background-color: #1E5754;
	position:relative;
	width:100%;
    top:50px;
}

.viewa {
    margin-top:5%;
    margin-bottom:4%;
}

.view, .view:visited{
      background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #c1c2c2;
  color: #c1c2c2;
    vertical-align: center;
    text-align: center;
    letter-spacing:2px;
    padding:12px;
    margin-top:5%;
    font-size:17px;
    text-decoration: none;
}


.view:hover{
	color:#3a3a3a;
    background-color:#ffffff;
      border: none;
    font-weight:400;
    text-decoration: none;
}

.viewa a {
    text-decoration:none;
}


.triangle {

    border-color: #1E5754 transparent transparent transparent;

}


@media only screen and (min-height:550px){
    .jumbotron  {
        height:82vh;   
    }
}

.small {
    display:none;
}


.trianglerec{
	left:50%;
	background-color:#ffffff;
}

/*the whole section with portfolio*/


.ux_work a:hover {
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.6;
}

.ux_work p{
	font-size:16px;
}

.ux_work .row{
    margin-bottom:4%;
    margin-top:1%;
}


/*title of all the separate works*/
#uxwork_description #title{
	letter-spacing: 0.15em;
	font-size:20px;
}

.timeline, .myeplay, .rainbowart, .flunkless, .crown, .younote, .teachat, .fle, .programming{
    padding:2%;
}



 @media only screen and (max-height: 550px){
        .jumbotron {
            height:100%;   
        }
    }
  
    @media only screen and (min-height:650px){
        .jumbotron p {
            margin-top:13%;   
        }
        
        .logo {
            margin-top:5%;   
        }
    }

    @media only screen and (min-height:700px){
        .jumbotron p {
            margin-top:14%;
        }
        
        .logo {
            margin-top:5%;
        }
        
    }

    @media only screen and (min-height:900px){
        .jumbotron p {
            margin-top:22%;
        }
        
        .logo {
            margin-top:13%; 
        }
    }
    

@media only screen and (min-height:1100px){
    .jumbotron p {
       margin-top:28%;
    }
    
    .logo {
        margin-top:19%;
    }
}
    
    
    @media only screen and (min-height:1300px){
        .jumbotron p {
            margin-top:40%;   
        }
        
        .logo {
            margin-top:29%;   
        }
    }

 @media only screen and (min-height:1600px){
        .jumbotron img {
            margin-top:38%;   
        }
    }






@media only screen and (min-width:1500px) and (min-height:600px){

}

@media only screen and (min-width:1600px) and (min-height:600px){


	.jumbotron{
		height:85vh;
	}

}

@media only screen and (min-width:1790px) and (min-height:600px){

    
}

@media only screen and (min-width:2000px) and (min-height:600px){


	.jumbotron{
		height:90vh;
	}
}


@media only screen and (min-width: 2600px) and (min-height:600px){
    
    
}

@media only screen and (max-width:1200px)  and (min-height:600px) {

	#hello{
		font-size: 85px;
		width:100%;
	}

    
    #love {
        font-size:20px;   
    }
    
    .jumbotron p {
        margin-top:6%;   
    }
    
    .logo {
        margin-top:0%;   
    }

}


/*start change to make for cell phone*/
@media only screen and (max-width:995px){
    .small {
        display:block;   
    }
    
    .project{
           margin-top:2%;
        margin-bottom:2%;
    }

    .view {
        margin-top:10%;
        margin-bottom:10%;
    }
    
    
	/*changes in jumbotron*/

	.jumbotron{
		height:100%;
		top:-10px;
	} /*make the jumbotron long*/
    
    .jumbotron p {
        margin-top:10%;
        text-align:center;
        line-height:150%;
    }



    
    
    #logo{
        margin-top:-1%;
    }
    
	#hello{
		font-size:90px;
	}

	.trianglerec{
		margin-top:-50px;
	}

	#love{
		font-size: 26px;
        line-height:150%;
	}
    

    /*change the content paragraph stuff*/

    #uxwork_description #title{
     font-size: 37px;   
    } /*make title of each project larger*/


	#uxwork_note{
		
		font-size:30px;
	} /*edit small notes in each description*/


    .ux_work p{
        font-size:30px;   
    }



/*}

@media only screen and (max-width:835px){*/

	




}

@media only screen and (max-width:670px){


#love{
	font-size: 20px;
}

#hello {
	font-size: 90px;
}

}

@media only screen and (max-width:600px){
#hello{
	font-size:100px;
}

}

@media only screen and (max-width:530px){
	

	#uxwork_description{
		font-size: 16px;
	}

	#uxwork_note{
		font-size:16px;
	}

	#hello{
		font-size:75px;
	}

	#uxwork_description #title{
		font-size:21px;
	}

}

@media only screen and (max-width:500px){

.jumbotron p{
	position: relative;
	max-width: none;
	display: block;
	vertical-align: none;
	height: 100%;
	width: 100%;
}
	#love{
		width:80%;
	
	}


@media only screen and (max-width:450px){
	#hello{
		font-size:60px;
		width:100%;
		height:100%;
		text-align: center;
	}

}
    
    
   








