.about {
  margin-top:45px;
}

.about .step_description {
  line-height: 22px;
}



#instafeed {
  width:100%;
  background-color:#ffffff;
  margin-left:-5px;
}

#instafeed img{
  width: 230px;
  height:230px;
  /*margin-left: -30px;*/
  padding: 7px;
  margin-bottom: 20px;
  position:relative;
}

#instafeed a {
  display:inline-block;
  position:relative;
}

#instafeed .likes {
  background:rgba(0,0,0, 0.8);
  font-family:'Montserrat', sans-serif;
  font-weight:400;
  width: 220px;
  height: 220px;
  font-size:15px;
  position:absolute;
  color:#ffffff;
  right:12px;
  top:7px;
  left:4px;
  opacity:0;
  text-align:center;
  line-height:220px;
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
  -moz-transition: opacity 100ms ease;
  -o-transition: opacity 100ms ease;
  -ms-transition: opacity 100ms ease;
  transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}

.resume .step_description {
  line-height: 22px;
  color:#000;
}


@media only screen and (max-width:1200px){

     .self img {
         width:120%;
         margin-top:0.1em;
    }
    
    .description {
        margin-top:0%;  
    }
    
    .weird {
        display:inline;   
    }
    
    #instafeed img {
        width:180px;
        height:180px;
    }
    
    #instafeed .likes{
        width:170px;
        height:170px;
        line-height:170px;
    }
    

}



@media only screen and (max-width:995px){
    
		#instafeed img{
		 width: 150px;
        height:150px;
        
		}

    
    
    #instafeed .likes {
      width: 140px;
      height: 140px;
      line-height:140px;
    }

    .self img{
        width:100%;   
    }

    .about .step_description {
      margin-top:54px;
    }


}

@media only screen and (min-width:768px){

    .container .jumbotron{
        padding:100px 0;
        margin-top:40px;
  }

}



