body {
font-family:'Lato', sans-serif;
font-size:20px;
background-color: #5c595a;
}

/*change jumbotron*/
.jumbotron{
	background-color: #1E5754;
	position:relative;
	top:50px;
	width:100%;
	height:80vh;
}

.jumbotron p {
	font-size: 16px;
	color:#fbfcfc;
	font-weight:300;
	margin-top:1%;
    line-height:145%;
}

.self img{
	width:320px;
    margin-top:5%;
}

.triangle {
	 width: 0;
    height: 0;
    border: solid 60px ;
    border-color: #1E5754 transparent transparent transparent;
    margin-left:45%;
    margin-right:50%;
}


.trianglerec{
	left:50%;
	background-color:#f3f1ae;
}
/*end jumbotron and triangle changes*/

/*contact yellow part*/
.contact {
	margin:auto;
	background-color:#f3f1ae;

}

.contact p{
	line-height:200%;
}


#contact_m{
    font-family:'Montserrat', sans-serif;
}


/*resume button*/
.btn{
	background-color:#82d3a5;
	color:#575757;
	position:relative;
}

.btn:hover{
	color:#ffffff;
}

.button button{
	position:relative;
	right:50%;
	left:40%;
}

/*title of each section*/
.title{
	width:230px;
	height:40px;
	padding-top:5px;
	font-weight:700;
	color:#f4b1aa;
    font-family:'Montserrat', sans-serif;
    font-size:35px;
}

/*title of each experience*/
#experience_title{
	font-size:22px;
    font-weight:500;
    font-family:'Montserrat', sans-serif;
}

/*for projects*/
#experience_title a{
    text-decoration: none;
    color:#82d3a5;
}

#experience_title a:hover{
    color:#f3f1ae;
}

/*part of resume that is not a title*/
.meatcontent p{
	line-height:190%;
	font-weight:200;
	color:#ffffff;
}

/*part of the resume that shoud be really small O.O*/
.description{
	font-size:15px;
}

/*change colors for each section*/
.resume {
	background-color:#494647;
}

.skills{
 background-color:#494647;
}

.activities {
     background-color:#494647;
}



@media only screen and (max-width:1200px) {
	.jumbotron p{
	font-size: 15px;
	margin-left:30px;
	width:590px;
	}

}

@media only screen and (max-width:1150px){
	.jumbotron {
		height:100%;
	}

	.self img{
		width:150%;
	}
}

/*@media only screen and (max-width:1020px){
	.self img{
		width:150%;
	}
}*/



@media only screen and (max-width:990px){
	body p{
		font-size:28px;
	}
/*change jumbotron*/
	.jumbotron{
		height:100%;
		top:-20px;
	}

	.jumbotron p{
		font-size: 28px;
		width:105%;
		margin-left:-2%;
		
	}

		.self_description{
		margin-top:20px;
	}



	.self img{
		width:100%;
	}
/*end jumbotron changes*/
    
    .contact{
        margin-top:-3px;   
    }
    
    	.trianglerec{
		margin-top:-57px;
	}

/*content changes*/

	.melbourneeducation{
		float:left;
	}

	.button button{
		left:0;
	}
/*content changes ends*/

#experience_title{
	font-size: 30px;
}
    
    .title{
        font-size:45px;   
    }


/*}

@media only screen and (max-width: 740px){*/


/*end roll down menu & triangle changes*/

/*font sizes for content, button, and description*/
	.description{
		font-size:20px;
	}


	.btn{
		font-size:28px;
	}

	.relevant_courses .title{
		width:800px;
	}
    
    #skills_title{
        font-weight:400;   
    }





}

@media only screen and (max-width:500px){

	.self img{
		width:100%;
		left:-5%;
        
	}
	.self{
		width:100%;
	}

	body p{
		font-size:15px;
	}

	.jumbotron p{
		font-size:15px;
		margin-left:-20px;
		margin-right:-20px;
	}

	.button button{
		font-size:15px;
		left:0;
	}

	.description{
		font-size:13px;
	}
    
    #experience_title{
        font-size:20px;   
    }
    
    .title{
        font-size:25px;   
    }
}

@media only screen and (min-width:1520px){

	.jumbotron p{
		font-size: 18px;
	}

	.self img{
		width:130%;
		margin-top:50px;
	}
}

@media only screen and (min-width:1600px){
	.self img{
		margin-top:0px;
		margin-top:30%;
	}

	.jumbotron{
		height:85vh;
	}

}

@media only screen and (min-width:2100px){
	.self img{
		margin-top:100%;
	}

	.jumbotron p{
		margin-top:35%;
	}

	.jumbotron{
		height:90vh;
	}
}




