@charset 'UTF-8';

/*jumbotron & triangle delegated*/

* {
font-family:'Roboto', sans-serif;
    font-weight:300;
}

/*jumbotron*/


#logo {
    vertical-align: left;   
}

.jumbotron p {
    	font-size: 25px;
	color:#fbfcfc;

}

.jumbotron { 
	background: url(images/timeline%20background%20cover.png) no-repeat center center;
    opacity: 70%;
    background-size:cover;
	width:100%;
    top:50px;
}

.description { /*p words in jumbotron*/

    line-height: 150%;
    
    text-align: left;
margin-top:9%;
}

.headline {
    text-align:center;
    margin-top:2%;
    font-style:italic;
}

.headline i {
    color: #e6817d;  
    text-decoration: none;
}

.headline i:hover {
        color:#82d3a5;
    text-decoration: none;
}

#hello{ /*hello word*/
	font-size:60px;
	font-weight:700;
}


.view, .view:visited{
      background-color: transparent;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  border: 2px solid #c1c2c2;
    border-radius: 100px 100px 100px 100px;
    display:inline-block;
  color: #c1c2c2;
    vertical-align: center;
    text-align: center;
    height:80px;
    line-height:80px;
    width:80px;
    /*letter-spacing:2px;
    padding:12px;
    margin-top:5%;*/
    font-size:50px;
    text-decoration: none;
}


.view:hover{
	color:#3a3a3a;
    background-color:#ffffff;
      border: none;
    font-weight:400;
    text-decoration: none;
}

.viewa a {
    text-decoration:none;
}

.story {
    margin-top:3.5%;
}

.story p {
    text-align: center;
    background-color: #f0f3fc;
    padding:1.5%;
    font-size:1.5em;
    font-weight:400;
}

.ux_work {
    margin-top:2%;
}

.ux_work a {
    text-decoration:none;
    color:#e6817d;
}

.ux_work a:hover {
    color:#82d3a5;
    text-decoration: none;
}


.currentpics {
    padding-top:1%;
}

.currentp {
    padding-bottom: 2%;   
}


@media only screen and (max-height:630px) {
    .jumbotron {
        height:100%;   
    }
    
    .logo {
        margin-top:4%;   
    }

    
}



@media only screen and (min-height:630px){
    
    .jumbotron  {
        height:87vh;   
    }
    
     .logo {
        margin-top:6%;   
    }
    
    .description {
        margin-top:10%;   
    }
    
    .headline {
        margin-top:3%;   
    }   
    
    .viewa {
        margin-top: 3%;
        margin-bottom:0;
    }
}

@media only screen and (min-height:850px){
    .logo {
        margin-top:9%;   
    }
    
    .description {
        margin-top:14%;   
    }
    
    .headline {
        margin-top:5%;   
    }
    
    .viewa {
        margin-top:4%;   
    }
}

@media only screen and (min-height:900px) {
    .logo {
        margin-top:15%;   
    }
    
    .description {
        margin-top:20%;   
    }
    
    .headline {
        margin-top:8%;   
    }
    
    .viewa {
        margin-top:8%;   
    }
}

@media only screen and (min-height:1250px){
    .logo {
        margin-top:25%;   
    }
    
    .description {
        margin-top:30%;   
    }
    
    .headline {
        margin-top:7%;   
    }
    
    .viewa {
        margin-top:7%;   
    }
}

.small {
    display:none;
}


/*the whole section with portfolio*/


.ux_work a:hover {
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.6;
}


.ux_work .row{
    margin-bottom:2%;
    margin-top:1%;
}


/*title of all the separate works*/
#uxwork_description #title{
	letter-spacing: 0.15em;
	font-size:20px;
}

.timeline, .myeplay, .rainbowart, .flunkless, .crown, .younote, .teachat, .fle, .programming{
    padding:2%;
}



/*start change to make for cell phone*/
@media only screen and (max-width:995px){
    .small {
        display:block;   
    }
    
    #hello {
        line-height:100%;   
    }

    
    .project{
           margin-top:2%;
        margin-bottom:2%;
    }

    .view {
        margin-top:10%;
        margin-bottom:10%;
    }
    
    
	/*changes in jumbotron*/

	.jumbotron{
		height:100%;
		position:relative;
        top:-5px;
	} /*make the jumbotron long*/
    
    .description {
        margin-top:10%;
        text-align:center;
        line-height:150%;
    }
    
    #hello {
        text-align: center;   
    }



    
    
    #logo{
        margin-top:-1%;
    }


	#love{
        line-height:150%;
	}
    
}
    



