
.right-side{
    padding-left:3em;
    padding-right:3em;
}

#title{
    font-size: 19px;
    color:#444; 
}

/*set image size of each section*/
/*.concentration img, .other_work img*/



.concentrationImg img, .otherWorkImg img {
    padding:1em;
    margin-bottom:-1%;
}

.lastRowConc {
    padding:0;
}


#more, #more_info, #more_infot{
    text-decoration: none;
    color: #6aa1d6;
    font-size:14px;
}

#more:hover, #more_info:hover, #more_infot:hover{
    color:#999;
    cursor: pointer;
}

.info_slide, .infot_slide{
    display:none;
    line-height:170%;
    font-size:13px;
}





@media only screen and (max-width:1200px) and (min-height:600px){

}


@media only screen and (max-width:995px){

    
    .concentration, .other_work, .typography{
        padding:0px;   
    }

	/*.other_work img, .concentration img, .typography img{
		height:110px;
        padding:2%;
	}*/


    
    .intro p{
        line-height:150%;
        font-size:18px;
    }
    
    .info_slide, .infot_slide {
        font-size:16px;   
        line-height:160%;
    }
    
    .right-side {
        padding:0;   
    }
    

}

@media only screen and (max-width: 670px){


    
    #isaiah{
        height:80%;
        width:80%;
    }



}

