/*jumbotron & triangle delegated*/

body {
font-family:'Lato', sans-serif;
}

/*jumbotron*/

.description{ /*words in jumbotron*/
position: relative;
max-width: 100%;
display: table-cell;
vertical-align: middle;
height: 100%;
    margin-left:-2%;
margin-top:8%;
}

.jumbotron p { /*p words in jumbotron*/
	font-family:'Montserrat', sans-serif;
	font-size: 24px;
	color:#fbfcfc;
	/*width:650px;*/
	padding-bottom:60px;
    line-height: 180%;
}

#hello{ /*hello word*/
	font-size:100px;
	font-weight:700;
}

.jumbotron { 
	background-color: #1E5754;
	position:relative;
	width:100%;
	height:80vh;
    top:50px;
}

.trianglerec{
	left:50%;
	background-color:#ffffff;
}

/*the whole section with portfolio*/
.ux_work {
padding-top:20px;
padding-left:40px;
}

.ux_work img{
	width:260px;
}

.ux_work a:hover {
	width:100%;
	height:100%;
	background-color:#000;
	opacity:0.6;
}

.ux_work p{
	font-size:16px;
	width:280px;
}

.row{
    display:block;
}

/*left sections of ux work*/
.left, .middle, .right{
	float:left;
	width:23%;
    margin-right:50px;
    margin-left:50px;
    margin-bottom: 20px;
}

/*title of all the separate works*/
#uxwork_description #title{
	letter-spacing: 0.15em;
	font-size:20px;
}




@media only screen and (min-width:1600px){
	.description{
		margin-top:30%;
	}

	#logo{
		margin-top:35%;
	}

	.jumbotron{
		height:85vh;
	}

}

@media only screen and (min-width:1790px){
    #logo{
        margin-top:65%;   
    }
    
    .description{
        margin-top:16%;   
    }
    
}

@media only screen and (min-width:2100px){
	.jumbotron p{
		margin-top:60%;
	}

	#logo{
		margin-top:65%;
	}

	.jumbotron{
		height:90vh;
	}
}


@media only screen and (min-width: 2600px){
    #logo{
        margin-top:150%;   
    }
}

@media only screen and (max-width:1200px){
	.left, .middle, .right{
        margin:30px;
		width:240px;
    }

	.ux_work img{
		width:240px;
	}

	#hello{
		font-size: 85px;
		width:100%;
	}
    
    #logo {
        margin-top:20%;   
    }
    
    .description{
        margin-top: 6%;   
    }
    
    #love {
        font-size:20px;   
    }

}

/*start change to make for cell phone*/
@media only screen and (max-width:995px){
	/*changes in jumbotron*/

	.jumbotron{
		height:100%;
		top:-10px;
	} /*make the jumbotron long*/


	.description p{
		margin-left: 10%;
		width: 90%;
	} /*make description in jumbotron larger*/


    .description{
        padding-top:20%;
    }
    
    
    #logo{
        margin-top:-1px;
    }
    
	#hello{
		font-size:150px;
	}

	.trianglerec{
		margin-top:-50px;
	}

	#love{
		font-size: 40px;
	}
    

    /*change the content paragraph stuff*/

    #uxwork_description #title{
     font-size: 37px;   
    } /*make title of each project larger*/

    #uxwork_description{
		width:115%;
		font-size:35px;
	} /*edit project description*/

	#uxwork_note{
		font-size:20px;
		width:125%;
		font-size:30px;
	} /*edit small notes in each description*/

	 .ux_work{
		width:100%;
	} /*the entire projects part*/

    /*change images*/
    .ux_work img{
		width:110%;
		height:110%;
	} /*images of each of the projects*/

	/*.project1{
		width:80%;
		margin:0px;
		margin-left:10%;
	} *//*crown and rainbowart project total move*/


	/*change size of sections*/
	.left, .middle, .right{
		width:80%;
		margin-left:5%;
	} /*flunkless project description*/



/*}

@media only screen and (max-width:835px){*/

	




}

@media only screen and (max-width:670px){

.description p{
	width:80%;
}

#love{
	font-size: 25px;
}

#hello {
	font-size: 130px;
}

}

@media only screen and (max-width:600px){
#hello{
	font-size:100px;
}

}

@media only screen and (max-width:530px){
	

	#uxwork_description{
		font-size: 20px;
	}

	#uxwork_note{
		font-size:15px;
	}

	#hello{
		font-size:75px;
	}

	#uxwork_description #title{
		font-size:35px;
	}

}

@media only screen and (max-width:500px){

.description{
	position: relative;
	max-width: none;
	display: block;
	vertical-align: none;
	height: 100%;
	width: 100%;
}
	#love{
		width:80%;
		font-size:17px;
	}


@media only screen and (max-width:450px){
	#hello{
		font-size:65px;
		width:100%;
		height:100%;
		text-align: center;
	}

	.triangle{
		margin:0;
		margin-left:30%;
		margin-right:55%;
	}
}










