*{
    font-family: 'Roboto', sans-serif;
    font-weight:300;
}

.jumbotron p{
	font-size:0.98em;
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    color:#000000;
	font-weight:300;
    line-height:125%;
}

/*change jumbotron*/
.jumbotron{
	background-color: #ffffff;
    margin-top:1%;
    margin-bottom:0;
	width:100%;
    height:100%;
    padding-top:2em;
    padding-bottom:2em;
}



.self img{
    margin-top:2%;
}




/*end jumbotron and triangle changes*/

.contact {
	background-color:#f0f3fc;
    padding-top:3%;
    padding-bottom:3%;
}


.contact p{
	line-height:200%;
    font-size:1.2em;
}


.content {
    margin-bottom:10%;
}

.one, .two {
    margin-top:6%;
}

.links {
    margin-left:5%;
}

#instagramtext {
    font-size:15px;
}


/*resume button*/
/*.btn{
	background-color:#82d3a5;
	color:#575757;
	position:relative;
}

.btn:hover{
	color:#ffffff;
}

.button button{
	position:relative;
	right:50%;
	left:40%;
}*/

.links a, #instagramtext a{
    text-decoration: none;
    color:#74bd93;
}
#instagramtext a {
    font-weight:700;
}

.links a:hover, #instagramtext a:hover{
    color:#f29fa1;
    text-decoration:none;
}


/*part of the resume that shoud be really small O.O*/
.description{
	font-size:16px;
}

.content p {
    line-height: 160%;
    font-size:1.04em;
}


.weird {
    display:none;
}

.small {
    display:none;
}

#instafeed {
			width:100%;
			margin-left: 10px;
			margin-bottom:-35px;
			background-color:#ffffff;
			
		}
		#instafeed img{
		 width: 230px;
        height:230px;
		 /*margin-left: -30px;*/
		 padding: 7px;
		 margin-bottom: 20px;
		 position:relative;
        
		}
	#instafeed a {
	
	display:inline-block;
	position:relative;
      }

#instafeed .likes {
  background:rgba(0,0,0, 0.8);
  font-family:'Karla';
  width: 220px;
  height: 220px;
  font-size:15px;
  position:absolute;
  color:#ffffff;
  right:12px;
  top:7px;
  left:4px;
  opacity:0;
  text-align:center;
  line-height:220px;
  -webkit-font-smoothing:antialiased;
  -webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	-ms-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
}

#instafeed a:hover .likes {
  opacity:1;
}


    
    

@media only screen and (max-width:1200px){
	.jumbotron {
		height:100%;
	}

     .self img {
         width:120%;
         margin-top:7%;
    }
    
    .description {
        margin-top:0%;   
    }
    
    .weird {
        display:inline;   
    }
    
    #instafeed img {
        width:180px;
        height:180px;
    }
    
    #instafeed .likes{
        width:170px;
        height:170px;
        line-height:170px;
    }
    
    .jumbotron p {
        font-size:0.9em;   
    }

}



@media only screen and (max-width:995px){
    
		#instafeed img{
		 width: 150px;
        height:150px;
        
		}

    
    
#instafeed .likes {

  width: 140px;
  height: 140px;
    line-height:140px;

}


    
    .self img{
        width:100%;   
    }

/*change jumbotron*/
	.jumbotron{
		height:100%;
		top:-20px;
        padding:0.5em;
	}
    


    .jumbotron p {
        margin-top:3%;  
        font-size:1.05em;
        line-height:170%;
    }



/*end jumbotron changes*/
    
    .contact{
        margin-top:-3px;   
    }

/*content changes*/


	.button button{
		left:0;
	}
/*content changes ends*/



.small {
    display:inline;
}
    
    .large {
        display:none;   
    }
    
    .links a{
        font-size:24px;   
    }
    
    .contact p {
        line-height:160%;   
    }
    
    .content p{
        font-size:1.2em;   
    }


}

@media only screen and (max-width:500px){

	.self img{
		width:100%;
        
	}
	.self{
		width:100%;
    }
    


}

@media only screen and (min-width:1430px){
    .description {
        font-size:1.019em;   
    }
    
    .self img {
        margin-top:2.5em;   
    }
}

@media only screen and (min-width:2000px){
    .description{
        font-size:1.038em;   
    }
}




