@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');


* {
    font-family:'DM Sans', sans-serif;
    font-size:18px;
    font-weight:300;
        transition: all .3s ease;
}

@media (min-width: 1200px) {

}

html, body {
    width:auto !important;
    overflow-x: hidden;
    position:relative;
    margin:0;
}

li, a, p, ul{
    font-size:18px;
    line-height:32px;
    font-weight:400;
    margin:0;
}

a {
  text-decoration: none;
}

b {
    font-weight:600;
}


h2{
  font-family:'Abhaya Libre', sans-serif;
    font-weight:700;
    font-size:40px;
    line-height:48px;
    color:#000;
}

h3 {
  margin:0;
}

p{
  color:#333;
}

.inner-content h2{
  margin-top:16px;
  margin-bottom:32px;
}

blockquote {
  font-size:24px;
  line-height:36px;
  font-weight:400;
  border-left:4px solid #ED6A5A;
  margin:40px 0;
  padding-left:32px;
  width:80%;
  color:#888;
}

blockquote.inner-section {
  margin-bottom:40px;
}

blockquote.important {
  padding:24px 32px;
  background-color: rgba(237, 106, 90, 0.1);
  font-style:italic;
  font-weight:400;
  margin-top:24px;
  margin-bottom:24px;
  color:#000;
  font-size:21px;
  line-height:32px;
}

blockquote.important:last-of-type {
  margin-bottom:0;
}



.inner-content h3 {
  font-size:21px;
  line-height:32px;
  font-weight:800;
  width:90%;
  margin-bottom:32px;
}



.solution {
  margin-top:16px;
}


.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin-top:2%;
    margin-bottom:3%;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.square_display img {
    padding:7px;
}

.square_display img:hover {
    opacity: .7;
    transform:scale(1.005);
    transition: all .3s ease;
}

.fancybox-thumb img:hover {
    opacity: .7;
    transform:scale(1.005);
    transition: all .3s ease;
    filter: drop-shadow(0px 4px 10px rgba(61, 64, 91, 0.4));
}

.fancybox-thumb img{
  object-fit:cover;
  filter: drop-shadow(0px 4px 10px rgba(61, 64, 91, 0.2));
  height:100%;
}


.fancybox-thumb .smaller {
  height:200px;
    border-radius:13px;
}

.fancybox-thumb .middle {
  height:360px;
  border-radius: 18px;
}

.full-photo img {
    width:calc(100% + 166px);
}

.section hr {
    margin-top:49px;
    margin-bottom:49px;
    border-top:1px solid #bbb;
}



.relative {
    position:relative;
}

.section ul {
    padding-left:36px;
}


.side-nav {
    position:absolute;
    top:96px;
    margin-left:16px;
    width:256px;
}


.side-nav.fix {
    position:fixed;
}

.side-nav li {
  list-style-type:none;
}

.side-nav li.active {
    font-weight:600;
    color:#000;
    transition:all .1s ease;
    background: #EDF3F3;
}

.side-nav ul {
    padding:0;
    margin:0;
}


.side-nav>.nav>li>a{
    color:#888;
    font-weight:400;
    padding:0;
    display:block;
    width:100%;
    font-size:16px;
    line-height:24px;
    text-decoration: none;
}

.side-nav>.nav>li {
    margin-bottom:8px;
    padding:12px 16px;
    border-radius:8px;
}

.side-nav>.nav>li:hover {
    background: #EDF3F3;
}

.side-nav>.nav:hover {
    background-color:transparent;
    color:#000;
}

.side-nav>.nav>li.active>a {
    font-weight:600;
    color:#000;
    transition:all .1s ease;
}


.bottom-nav{
  position:fixed;
  background-color:#Fff;
  bottom:0;
  width:100%;
  z-index:10;
  transition:all .3s ease;
  height:64px;
  border-radius:0;
  overflow-x: scroll;
  white-space: nowrap;
  filter: drop-shadow(0px -4px 8px rgba(61, 64, 91, 0.12));
}

.bottom-nav.nav-down {
  bottom:-65px;
}

.bottom-nav .nav {
  display:flex;
  flex-direction:row;
  padding-left:24px;
  height:100%;
  align-items: center;
}

.bottom-nav li{
  list-style-type: none;
  margin-right:16px;
}

.bottom-nav a{
  text-decoration: none;
  font-size:16px;
  line-height:24px;
}

.bottom-nav>.nav>li{
  margin-bottom:0;
}







.section {
  padding:96px 0;
}




.section:nth-child(even){
    background-color:#FDF8F0;
}

.section:nth-child(odd){
    background-color:#fff;
}


.section.introduction .description {
    border-right:1px solid #ccc;
    padding-right:4%;
}

.section.introduction .deliverables {
    margin-left:4%;
}

.section.introduction p{
    margin-bottom:14px;
    color:#000;
    line-height:35px;
}

/*.section .row:nth-child(n+1){
    margin-top:63px;
}*/

.section .row:nth-child(1) {
    margin-top:0;
}


.navbar .container {
    height:100%;
}

.navbar .container:before, .navbar .container:after, .navbar .row:before, .navbar .row:after{
  content:none;
}

.navbar .row {
  width:100%;
  display:flex;
  align-items: center;
  justify-content:space-between;
  height:100%;
  margin-left:0;
  margin-right:0;
}


/*big nav bar*/

.navbar {
	position:fixed;
	background-color:transparent;
	top:0;
	width:100%;
	z-index:10;
  transition:all .3s ease;
    margin-top:-2px;
}

.shrink.nav-up {
    top: -65px;
}


.navbar .pull-left, .navbar .pull-right{
    padding:0;
    margin:0;
}


.navbar a {
    text-decoration: none;
    font-weight:400;
}

.navbar.bigger a {
    color:#fff;
}

.navbar.shrink a {
    color:#c1c2c2;
}

.navbar li{
	display:inline;
    margin-left:32px;
	text-decoration:none;
    color:#c1c2c2;
}


/*#navbar_name {
    font-size:14px;
    color:#c5c4c4;
    position:relative;
    top:-55px;
}*/

.bigger{
    height:96px;
    transition: all .2s ease;
}

.bigger img {
    width:64px;
    margin-top:.5em;
    transition: all .2s;
    border-radius:12px;
}

.bigger .pull-right {
    transition: all .2s;
    transition:all .2s ease;
}


.bigger .navbar a {
    color:#fff;
}


.shrink {
    height:64px;
    border-radius:0;
    margin-bottom:0;
    background-color:#fff;
    filter: drop-shadow(0px 4px 10px rgba(61, 64, 91, 0.12));
}

.shrink img {
    width:40px;
    transition: all .2s ease;
    border-radius:4px;
    margin-top:12px;
}

.shrink .pull-right {
    transition:all .2s ease;
}

.shrink #navbar_name {
    top:2px;
    transition:all .1s;
}


.bigger .ux_dropdown_big {
    color:#fff;
}

.shrink .ux_dropdown_big {
    color:#888;
}



.navbar_options{
    position:relative;
}


    .hover_nav {
    position: absolute;
    left: 0;
    bottom:0;
    height:0;
    display: block;
    width: 100%;
    opacity: 0;
    top:34px;
    transition: height .2s linear, opacity .2s linear, top .2s ease;
}


.navbar.shrink .hover_nav {
    background:#c1c2c2;

}

.navbar_options:hover .hover_nav{
    height:4px;
    opacity:1.0;
}

.navbar_options:hover {
    cursor: pointer;
}




/*white*/

.navbar.bigger a, .bigger .ux_dropdown_big {
    color:#c1c2c2;
}

.dropdown-menu>li>a:hover, .white .ux_dropdown_small a:hover{
    color:#000;
}

.navbar.bigger .hover_nav {
    background:#c1c2c2;

}

.relative{
    position:relative;
    overflow-y:auto;
    height:100%;
}


.smallLogo {
    width:65px;
    padding:1em 1em;
}




footer {
    background-color:#fff;
    padding:96px 0;
}

footer p{
    color:#000;
    font-size:16px;
    text-align: right;
    letter-spacing: .25px;
}

footer a {
    color:#6aa1d6;
    text-decoration:none;
    font-weight:400;
    cursor:pointer;
    letter-spacing: .25px;
}

footer a:hover {
    color:#888;
    text-decoration:none;
}


.top{
    padding-top:164px;
    padding-bottom:80px;
}

.body {
    padding-top:192px;
    position:relative;
    margin-top:-8px;
    padding-bottom:264px;
    background-color:#FDF8F0;
}
.body .container.content {
    padding-top:0px;
    padding-bottom:0px;
}

.top p {
    text-align:center;
    color:#000;
}

.body i {
    color:#000;
    font-size:16px;
}

.page_description{
    font-size:18px;
    line-height:28px;
    font-weight:400;
    margin:0;
    margin-top:8px;
}

.role {
  border-left: 1px solid #ccc;
  padding-left:32px;
}

.role p{
  font-size:16px;
  line-height:28px;
  font-weight:400;
  margin:0;
  margin-top:8px;
}

.role label:nth-of-type(2){
  margin-top:24px;
  display:inline-block;
}

label{
  font-size: 14px;
  line-height: 16px;
  color:#595959;
  letter-spacing:1px;
  text-transform: uppercase;
  margin:0;
}

label span {
  margin-right: 8px;
  font-size: 14px;
  line-height: 16px;
  color:#595959;
  letter-spacing:1px;
  text-transform: uppercase;

}

/*page title*/

.name, h1 {
    font-size:60px;
    font-family: 'Abhaya Libre', sans-serif;
    text-align: left;
    font-weight:700;
    line-height: 72px;
    margin:0;
    margin-top:24px;
    letter-spacing:.5px;
}




b {
    font-weight:700;
}

.important_underline {
  text-decoration:underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #ED6A5A;
  font-weight:700;
}


/*start checking*/


.body .overlay {
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:#334d60;
    opacity:0;
}

.inner-section {
  margin-bottom:32px;
}

.weird-columning {
  margin-right:32px;
}

.inner-content {
    margin-left:272px;
    width:calc(100% - 272px);
}

.role .individual:first-child{
  margin-bottom:24px;
}

.final-navigation img{
  border-radius:9px;
  width:100%;
}

.final-navigation svg {
  height:24px;
  width:24px;
}

.final-navigation .row {
  display:flex;
  justify-content: space-between;
  width:100%;
  margin-left:0;
  margin-right:0;
}

.final-navigation .row:before,  .final-navigation .row:after{
  content:none;
}

.final-navigation .projects{
  margin:0;
}

.final-navigation .projects p{
  margin-bottom:24px;
}

.final-navigation .projects:last-child p{
  text-align:right;
}

.final-navigation .projects:nth-child(2){
  text-align:center;
}

.final-navigation .projects img {
  filter: drop-shadow(0px 4px 10px rgba(61, 64, 91, 0.2));
}

.final-navigation .projects:hover img, .final-navigation .projects:hover svg {
  opacity: .7;
  transform:scale(1.01);
  transition: all .3s ease;
  filter: drop-shadow(0px 4px 10px rgba(61, 64, 91, 0.4));
}

.final-navigation .projects:hover svg {
  filter:none;
  transform:scale(1.1);
}

.final-navigation .projects:hover p{
  font-weight:700;
}

.final-navigation a {
  display:block;
}

.hero_image_container {
	position:relative;
	filter: drop-shadow(0px 4px 24px rgba(61, 64, 91, 0.25));
	width:100%;
}

.hero_image{
	width:1240px;
	margin-left: auto;
	margin-right:auto;

}

.hero_image img {
	border-radius:28px;
	width:1240px;
	height:auto;
}

.hero_image .absolute {
	position:absolute;
	top:-192px;
}


.relative .hero_image{
	margin-top:484px;
}

@media (max-width: 1320px) {
	.hero_image {
		width:100%;
	}
  .hero_image img {
		border-radius:0;
		width:100%;
	}
}

@media (max-width: 1200px) {


	.hero_image {
		padding:0 64px;
	}

  .hero_image img {
		border-radius:32px;
		width:calc(100% - 128px);
	}

	.relative .hero_image{
		margin-top:400px;
	}
}

@media (max-width: 1035px) {

	.relative .hero_image {
		margin-top: 300px;
	}
}

@media (max-width: 904px) {

	.hero_image {
		width:100%;
		padding:0;
	}
  .hero_image img {
		border-radius:0;
		width:100%;
	}

	.body {
		padding-bottom:96px;
	}

	.hero_image .absolute {
		position:relative;
		top:0;
	}

	.relative .hero_image{
		margin-top:32px;
	}

}

@media (max-width: 796px) {
	.body {
		padding-top:168px;
		padding-bottom:72px;

	}
}








@media only screen and (max-width:1200px){

    .content {
        padding-left:64px;
        padding-right:64px;
    }

    .inner-content {
        margin-left:232px;
        width:calc(100% - 232px);
    }

    .side-nav {
      width:216px;
    }

    .navbar .container {
        padding:0 64px;
    }




}


@media only screen and (max-width:904px){


    .navbar .container {
        padding:0 48px;
    }

    .content {
      padding-left:48px;
      padding-right:48px;
    }

    .side-nav {
      width:170px;
    }

    .inner-content {
        margin-left:202px;
        width:calc(100% - 202px);
    } /*add 32px to add space*/

    .bottom-nav.side-nav {
      width:100%;
      margin-left:0;
      top:auto;
    }


    blockquote.important {
      font-size:18px;
      line-height:28px;
    }

    .side-nav>.nav>li>a{
        font-size:14px;
        line-height:20px;
    }

    .role.col-sm-3 {
      width:calc(37.5% - 65px);
    }


    /*logo change*/
	#logo{
		height:80%;
        width:80%;
        margin-left:10%;
        margin-top:5px;
	} /*make self image larger*/

}

@media only screen and (max-width:800px){
  * {
    font-size:16px;
    line-height:28px;
  }

  p, li, a{
    font-size:16px;
    line-height:28px;
  }

  .page_description, .body i, .role p{
    font-size:16px;
    line-height: 24px;
  }


}

@media only screen and (max-width:768px){
    .inner-content {
        width:100%;
        margin-left:0;
    }

    .navbar .container {
        padding:0 64px;
    }

    .content {
      padding-left:64px;
      padding-right:64px;
    }

    .role {
      border:0;
      padding-left:0;
      margin-top:32px;
    }

    .role .individual {
      display:flex;
      flex-direction:column;

    }

    .role.col-xs-8 {
      width:calc(100% - 32px);
    }

    .role .individual:first-child{
      margin-bottom:0;
    }

    .section {
      padding:72px 0;
    }

    .name, h1 {
      font-size:48px;
      line-height:56px;
    }

    .inner-content h3 {
      font-size:18px;
      line-height:28px;
    }

    blockquote {
      font-size:18px;
      line-height:24px;
      width:calc(100% - 36px);
    }

    blockquote.important {
      font-size:16px;
      line-height:24px;
    }

    .bottom-nav>.nav>li>a{
        font-size:16px;
        line-height:16px;
    }

    footer {
      padding-bottom:104px;
    }

    .final-navigation .projects p{
      font-size:14px;
    }



}




@media only screen and (max-width:540px){
  .navbar .container {
      padding:0 48px;
  }

  .content {
    padding-left:48px;
    padding-right:48px;
  }

  h2 {
    font-size:36px;
    line-height:40px;
  }

  h3 {
    line-height:24px;
  }

  .navbar li {
    margin-left:24px;
  }

  .fancybox-thumb .middle , .fancybox-thumb .smaller{
    height:100%;
  }


}

@media only screen and (max-width:448px){
  .navbar .container {
      padding:0 40px;
  }

  .content {
    padding-left:40px;
    padding-right:40px;
  }

  .name, h1 {
    font-size: 38px;
    line-height:48px;
  }

  h2 {
    font-size:30px;
    line-height:36px;
  }

  .bigger img {
    width:48px;
    border-radius:9px;
  }

}

@media only screen and (max-width:380px){

  .bigger img, .shrink img {
    width:36px;
    border-radius:6px;
  }


  .navbar.bigger a, .navbar.shrink a {
    font-size:14px;
  }

  .navbar li {
    margin-left:16px;
  }

  *, p, li, a{
    font-size:14px;
    line-height:24px;
  }

  .role p {
    font-size:14px;
    line-height:20px;
  }

  .bottom-nav>.nav>li>a{
    font-size:14px;
  }


}

@media only screen and (max-width:315px){

.shrink img, .bigger img {
  display:none;
}

  .content {
    padding-left: 24px;
    padding-right:24px;
  }

  .navbar .container {
    padding:0 24px;
  }



  .page_description, .body i, .role p {
    font-size:14px;
    line-height:24px;
  }


}
