@charset 'UTF-8';
* {
    font-family:'Open Sans', sans-serif;
    font-weight:400;
}

html, body {
    width:auto !important;
    overflow-x: hidden !important;
}

.step_title span {
    text-transform: uppercase;
    color:#cccccc;
    font-size:13px;
    border-top:2px solid #f1f1f1;
    letter-spacing: 3px;
    font-weight: 700;
    padding:5px 7px;
}

.step_class {
    margin:80px 0 120px 0;
}




.step_class .step_description {
    padding:0;
    margin-top:8px;
    line-height:22px;
    font-size:13px;
}

.step_class:last-child {
    margin-bottom:50px;
}



/*big nav bar*/

.navbar {
	position:fixed;
	background-color: #fff;
	top:0;
	width:100%;
	z-index:10;
    padding-top:7px;
}

.navbar a {
    text-decoration: none;
    color:#c1c2c2;
}

.navbar li{
	display:inline;
	font-size:14px;
	margin-right:20px;
    margin-left:20px;
    margin-top:1em;
	text-decoration:none;
    letter-spacing: 0.03em;
    color:#c1c2c2;
    font-weight:400;
}

.navbar .activea {
    border-bottom:4px solid #000 !important;
    color:#000;
    font-weight:400;
    padding-bottom:15px;
}


/*#navbar_name {
    font-size:14px;
    color:#c5c4c4;
    position:relative;
    top:-55px;
}*/

.bigger{
    height:95px;
    transition: all .2s;
}

.bigger img {
    width:50px;
    margin-top:.5em;
    transition: all .2s;
}

.bigger .pull-right {
     margin-top:2em;
    transition: all .2s;
}

.bigger #navbar_name {
    top:-55px;
    transition:all .2s;
}



.shrink {
    height:56px;
    transition:all .2s;
}

.shrink img {
    width:30px;
    margin-top:.1em;
    transition:all .2s;
}

.shrink .pull-right {
    margin-top:.7em;
    transition:all .2s;
}

.shrink #navbar_name {
    top:2px;
    transition:all .1s;
}


.ux_dropdown_big {
    color:#999;
}

.dropdown-menu {

  min-width: 105px;
    border-radius:0;
    border:1px #ececec solid;
    margin:20px 0;
    -webkit-box-shadow:0 0 0;
}

.dropdown-menu li {
    display:table-row;
}

.dropdown-menu>li>a {
    color:#999;
    letter-spacing:0em;
}


.dropdown-menu>li>a:hover, .ux_dropdown_small a:hover {
    color:#000;
    background-color:inherit;
    background-image: inherit;

}

.navbar_options{
    position:relative;
}


    .hover_nav {
    position: absolute;
    left: 0;
    bottom:0;
    height:0;
    display: block;
    width: 100%;
    background: #c1c2c2;
    opacity: 0;
    top:2.5em;         
    transition: height .3s linear, opacity .3s linear, top .5s ease;
}

.navbar_options:hover .hover_nav{
    height:4px;
    opacity:1.0; 
    /*top:2.45em;   */
}


/*small navbar*/

.navbar_small a, .navbar_small li {
    display:inline;
    color:#c1c2c2;
    text-decoration: none;
}

.navbar_small a:hover {
    color:#000;
}

.navbar_small{
    display:inline-block;
    background-color: #fff;
    width:100%;
    height:100%;
}

.navbar_small_list{

    padding-left:0;
    text-align: center;
    margin-top:-47px;
}

.navbar_small_list li {
    padding:0 2px;
    text-align:center;
    padding:0 10px;
}

.ux_dropdown_small_relative{
    position:relative;
        padding:35px 35px;
}

.ux_dropdown_small {
    position:absolute;
    top:-335px;
   left:-235px;
    transition: all .3s;
        background-color:#f9f9f9;
        border:1px solid #e9e9e9;
        z-index:10;
    padding:0 0;
}
.ux_dropdown_small li {
    display:block;
    padding:2px 2px;
}

.ux_dropdown_small a {
    color:#999;
}

 .ux_dropdown_small.show {

    top:0px;
    left:0px;
    transition: all .3s;
}

.relative{
    position:relative;
}

#close_ux {
 color:#999;
 position:absolute;
 top:5%;
 right:10%;
 cursor: pointer;
}

#fa_ux {
    cursor: pointer;
}

.smallLogo {
    width:65px;
    padding:1em 1em;
}

#activeb{   font-weight:700;
    color:#000;
    text-decoration: none;
}



footer {
    background-color:#000000;
}

footer p{
    color:#ffffff;
    padding:5%;
    font-size:15px;
}

footer a {
    color:#6aa1d6;
    text-decoration:none;
}

footer a:hover {
    color:#999;
    text-decoration:none;
}





.body, .top{
    margin-top:169px;
}

.body p, .top p{
    text-align: center;
}

.body i {
    color:#999;
    font-size:13px;
}

.page_description, .role{
    letter-spacing: .01em;
    font-size:15px;
}



.rest {
    margin-top:87px;
    margin-bottom:20px;
}

.rest hr {
    border-top:1px solid #c1c2c2;
    margin-left:3em;
    margin-right:3em;
}

/*page title*/

.name {
    font-size: 23px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.06em;
    text-align: center;
    font-weight:700;
}


.motivation hr {
    margin-left:1em;
    margin-right:1em;
    color:#c1c2c2;
}

.motivation{
    color:#000000;
    background-color:#f8f8f8;
    padding:30px;
    margin-bottom:70px;
}

.motivation p{
    line-height:160%;
    font-size:13px;
    padding:0 0;
}

.motivation a{
    color:#6aa1d6;
    text-decoration: none;
}

.motivation a:hover{
    color:#999;
    text-decoration: none;
}


.motivation h4 {
    font-size:15px;
    font-weight:600;
}

b {
    font-weight:500;
}


/*start checking*/



.left {
    float:left;
}

.titles h2, .titles h3, .titles h4 {
    font-weight:600;
    font-size:21px;
    text-align:center;
}

.titles /*, .title */{
    margin-bottom:1.3em;
}



.description_title {
    font-size:15px;
    font-weight:500;
    color:#989898;
    text-align:center;
}

.right-side {
    padding-bottom:1.5em;
    padding-left:3em;
    padding-right:0;
}

.right-side.row, .right-side .row {
    margin-left:-3px;
    margin-right:-3px;
}

.section {
    padding-bottom:2em;
    padding-top:4em;
}

.section.first_section {
    padding-top:0;
}

.motivation a, .right-side a{
        color:#6aa1d6;
    font-weight:400;
}



.motivation a:hover, .right-side a:hover{
    color:#999;
    text-decoration: none;
}

.dropdown-menu .activea {
    border-left:3px solid #000;
    border-bottom:0px !important;
    padding-bottom:0;
}

.back_to_work {
    margin-top:2em;
    margin-bottom:7em;
}

.back_to_work div {
    text-align: center;
}

.back_to_work a:hover line, .back_to_work a:hover polyline{
    stroke:#999;
}

.back_to_work a:hover span {
    color:#999;
}

.back_to_work a {
    text-align:center;
    margin-left:-10%;
    margin-right:auto;
}

.back_to_work svg {
    height:25px;
    width:25px;
     stroke:#6aa1d6;
}

.back_to_work line, .back_to_work polyline{
    stroke:#6aa1d6;
    stroke-width:5;
}

.back_to_work span {
    position:absolute;
    margin-top:3px;
    font-family:'Montserrat', sans-serif;
    font-style:italic;
}







@media only screen and (min-width:1600px){
     #logo{
		/*margin-top:32%;*/
	}
}

@media only screen and (min-width:992px) {
    .col-offset-half {
    margin-left:4.2%;
}
}


@media only screen and (max-width:995px){
    
    .jumbotron {
        height:100%;   
    }
/*start changing navbar*/

    
        .navbar_description {
        font-size:15px;
        letter-spacing: 0.1em;
    }
    
    .left {
        padding:0 0;   
    }
    
    
    .left .top{
        margin-bottom:-5px;
        margin-top:3px;
        padding:0 0;
    }
    
    .left .bottom {
        margin-top:-6px;  
        margin-bottom:5px;
        padding:0 0;
    }
    

    
	.dropdown{
        display:none;
	}

	.dropdown li{
		text-decoration:none;
		margin:10px;
		text-align:center;
        letter-spacing: 0.20em;

	}

	.dropdown ul{
		list-style-type: none;
        padding:0px;
	}


	.menu-left{
		float:left;
		margin:10px;
	}

	.menu-right{
		float:right;
		margin:10px;
	}
    
    /*logo change*/
	#logo{
		height:80%;
        width:80%;
        margin-left:10%;
        margin-top:5px;
	} /*make self image larger*/
    
    .navbar_dropdown .activea {
               border-bottom:4px solid #ffffff !important;
        font-weight:700;
        color:#ffffff;

    }
    
    .motivation {
        margin-top:-1.8em;   
    }
    
    .right-side {
        padding-right:1.5em;   
        padding-left:1.5em;   
        padding-bottom:1.5em;   
    }

}

@media only screen and (max-width:768px){
     .top, .body{
        margin-top:55px;
    }  

    .description, .rest {
        margin-top:47px;
    }

    .motivation {
        margin-bottom:47px;
    }

    .ux_work2 {
        margin-top:47em;
    }

    .description1 {
        font-size:13px;
    }

    .imageContainers:hover .description1 {

        top:15%;

    }
    .title {
        top:80%;

    }

    .back_to_work a {
        margin-left:-22%;
    }

}


@media only screen and (max-width:557px){

    
    .left .top, .left .bottom {
        margin-left:3px;
    }
    
    .menuBar {
        width:25%;   
        padding:0 0;
    }

}

b {
    font-weight:600;
}


