body {
font-family: 'Lato', sans-serif;
}

body p{
	font-size:17px;
}

.jumbotron #title{
    font-size:40px;
    /*margin-left:8%;
    margin-right:8%;*/
       letter-spacing: 0.15em;
    color:#ffffff;
    font-family:'Montserrat', sans-serif;
    text-align:center;
}


#catchphrase{
    text-align: center;
    font-weight:700;
    color:#ffffff;
}

hr{
    color:#000000;
}

/*.description{
    margin-left:10%;
    margin-right:10%;
}*/



.jumbotron {
	background-color: #013042;
	position:relative;
	top:40px;
	width:100%;
    height:82vh;
}


.jumbotron p{
	color:#f6deac;
    font-weight:300;
    font-size:18px;
    margin-top:10px;
}


.jumbotron a{
    font-size:18px;
    color:#82d3a5;
}

.jumbotron a:hover{
    text-decoration: none;
    color:#ffffff;
}




.triangle {
	 width: 0;
    height: 0;
    border: solid 60px ;
    border-color: #013042 transparent transparent transparent;
        margin-left:45%;
    margin-right:50%;
}

.trianglerec{
	left:50%;
	background-color:#fabd76;
}

.left{
    float:left;   
}

.right{
    float:right;
}

.motivation{
background-color:#fabd76;
}

.motivation p{
    color:#000000;
    font-size:17px;
    line-height: 220%;
}

.motivation a{
    color:#1E5754;
}

.motivation a:hover{
    text-decoration:none;
    color:#ffffff;
}

#crownlogo{
    width:100%;
    height:100%;
    margin-top:5%;
}


.features p{
    color:#000000;
    font-size:16px;
}

.feature_title{ 
    background-color:#454545;
}

.features h2{
     color:#ffffff;
    padding:8px;
    font-family:'Montserrat', sans-serif;
     letter-spacing: 0.15em;
}

.assignments_tests_todo h2{
    padding:0px;
}


.features {
    background-color:#ffffff;
}

.fullside{
    line-height: 200%;
    margin-top:7%;
}

.timeline .fullside{
    line-height:180%;
    margin-top:1%;
}

.timeline img{
    margin-bottom:40px;
}

.small {
    display:none;
}

#lightbox_normal img{
    height:180px;
}

#lightbox_normal .image_title {
	width: 200px; height: 200px;
}

.add_event span{
    line-height:190%;
}

.personal p{
    line-height:200%;
}

.skip a{
    text-align:center;
    font-size:15px;
}

.features a{
    color:#db5d58;
    font-weight:700;
}

.features a:hover{
    text-decoration: none;
    color:#82d3a5;
}

@media only screen and (max-width:1200px){

    
    .jumbotron {
         height:100%;   
    }
}


@media only screen and (max-width:1250px){
    .description{
        margin-top:-2%;   
    }
    
        .jumbotron p, .jumbotron a{
        font-size:17px;   
    }
    
        .jumbotron #title {
        font-size:50px;   
    }
}


@media only screen and (max-width:995px){

        .description{
        margin-top:0;   
    }
    
 .large{
     display:none;
 }
    
    .small {
        display:block;   
    }
    
    .fullside {
        line-height:140%;   
    }
    
    .picleft, .picright{
        width:100%;
        height:100%;
        float:none;
    }
    
    .col-sm-12, .col-xs-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10{
        margin:15px;   
    }
    
    .right{
        float:none;   
    }
    
    .jumbotron{
		top: -20px;
        height:100%;
	}

    .trianglerec{
		margin-top:-52px;
	}
    
    .jumbotron p{
        font-size:18px;   
    }
    
    .add_event span{
    line-height:150%;
    }
    
    .jumbotron #title {
        font-size:50px;   
    }
    
    #catchphrase{
        font-size: 22px;
    }
    
    .personal p{
    line-height:160%;
}
    


    
}

@media only screen and (max-width:700px){
    #lightbox_normal img{
        height:150px;
    }   
    
    #lightbox_normal .image_title {
        width: 170px; height: 170px;
    }
}

@media only screen and (min-width:1790px){
    .description {
        margin-top:7%;   
    }
    
    	.jumbotron{
		height:85vh;
	}

    
}

@media only screen and (min-width:2100px){
	.description {
        margin-top:15%;   
    }
    
    	.jumbotron{
		height:90vh;
	}
}

@media only screen and (min-width:2700px){
    .description{
        margin-top:20%;   
    }
}