body {
font-family:'Lato', sans-serif;
}

body p{
    line-height:165%;
}

.jumbotron a{
	color:#ecc476;
	text-decoration:none;
    font-size:17px;
}


.skip{
	color:#cea34f;
	text-decoration:none;
    font-size:16px;
}

.problem p{
	font-family:'Montserrat', sans-serif;
}

.problem_content3 a{
	color:#ecc476;
}


a:hover{
	text-decoration:none;
	color:#82d3a5;
}

#left{
  float:left;  
    height:198px;
    margin-left:45px;
    padding-top:10px;
}

#right{
    float:right;
    height:198px;
    margin-right:50px;
    padding-top:10px;
}

.description {
	float:left;
	color:#fbfcfc;
}

.description p{
	font-size:18px;
}

.jumbotron {
	background-color: #1E5754;
	position:relative;
	top:30px;
	width:100%;
}

.jumbotron #title{
	font-size:23px;
	font-family:'Montserrat', sans-serif;
}


.triangle {
	 width: 0;
    height: 0;
    border: solid 60px ;
    border-color: #1E5754 transparent transparent transparent;
    margin-left:45%;
    margin-right:50%;
}


.trianglerec{
	left:50%;
	background-color:#ffffff;
}



/*table{
	text-align:center;
	width:100%;
}

td{
	padding:10px;
}*/

.line{
	float:left;
}

#next{
    float:right;
}

.circle{
	border-radius:50%;
	background-color:#000000;
	height:40px;
	width:40px;
	position:relative;
	right:18px;
	top:10px;
}

.problem p{
	font-size: 27px;
}

.content p{
	font-size:16px;
}

#problem_methods{
	font-size:15px;
}

#affinity{
height:100%;
width:100%;
}

.content img{
	width:150px;
}

.content{
	padding:25px;
}


.problem_content1{
	background-color: #f3f1ae;
}

.problem_content2{
	background-color:#76b474;
}

.problem_content3{
	background-color:#5c5050;
}

.problem_content3 p{
	color: #ffffff;
}

.problem_content4{
	background-color:#d47f75;
}

.problem_content5{
	background-color:#ecc476;
}

.problem_content6{
	background-color:#82d3a5;
}

.content_small{
	display:none;
}

@media only screen and (max-width:1200px){
	.problem_content3 img{
		width:120px;
	}

	.problem_content6 img{
		width:120px;
	}
    
    #left{
        height:175px;
    }
    
    #right{
        height:175px;   
    }
}

@media only screen and (max-width:990px){
    #left{
        height:300px;   
    }
    
    #right{
        height:300px;   
    }
    
    .jumbotron a{
        font-side:25px;   
    }
    
    #next{
        display:none;   
    }
    
    .skip{
        display:none;   
    }
    
	.content_big{
		display:none;
	}

	.content_small{
		display:inline;
	}

	.total{
		margin-left:30px;
	}

	.jumbotron p{
		font-size:25px;
	}
    
    .jumbotron a{
        font-size:26px;   
    }

	.jumbotron #title{
		font-size:35px;
	}

    /*change what nav bar affects*/
		.jumbotron{
		top: -20px;
	}

			.trianglerec{
		margin-top:-50px;
	}

	/*end change navbar*/
	.content p{
		font-size:22px;
	}


}

@media only screen and (max-width:780px){
#left{
    height:240px;
}
    
#right{
    height:240px;
}

}
