.relative .hero_image {
	margin-top: 424px;
}


.stacked-images img{

	margin-bottom:24px;
		height:150px;
		border-radius:9px;
}


.stacked-images a:last-child img{
  margin-bottom:0;
}

.problem.caption{
	text-align:center;
}

.step {
	margin-top:72px;
}

.step .number {
	position:absolute;
	left:-40px;
	margin-top:26px;
	width:100%;
	font-family:'Abhaya Libre', sans-serif;
	font-size:28px;
	line-height:40px;
	color:#6F7180;
	font-weight:400;
}

@media (max-width: 1320px) and (min-width:1201px) {
	.hero_image {
		width:100%;
	}
  .hero_image img {
		border-radius:0;
		width:100%;
	}
}

@media (max-width: 1200px) {

	.stacked-images {
		margin-top:32px;
	}

	.relative .hero_image {
		margin-top: 328px;
	}


}

@media (max-width: 1110px) {

	.relative .hero_image {
		margin-top: 264px;
	}
}

@media (max-width: 990px) {

	.relative .hero_image {
		margin-top: 200px;
	}
}



@media (max-width: 904px) {

	.body {
		padding-bottom:96px;
	}

	.hero_image .absolute {
		position:relative;
		top:0;
	}

	.relative .hero_image{
		margin-top:0;
	}

	.hero_image_container {
		filter:none;
	}

	.step img {
		margin-top:32px;
	}

	.step .number {
		position:absolute;
		left:0;
		margin-top:-40px;
	}

}

@media only screen and (max-width:768px){
  .role .row {
    display:flex;
    flex-direction:row;
  }
}

@media (max-width: 768px) {
	.step .number {
		left:-40px;
		margin-top:0;
	}
}

@media (max-width: 645px) {

	.step .number {
		position:absolute;
		left:0;
		margin-top:-40px;
	}

}
