@charset 'UTF-8';


.poster img {
    border: 2px solid #d8d8d8;
    padding:2%;
}


.interfaceFinal img {
    border: 1px solid #d8d8d8;
}

.interface .row {
    margin-top:1%;
    margin-bottom:2%;
}

.interface a{
    font-weight:600;
}

.interfaceProcess img{
    padding:0.5em;
}

.interfaceProcess h3, .interfaceFinal h3 {
    color:#444;
    font-size:18px;
    font-weight:500;
}

.interfaceProcess {
    background-color:#f8f8f8;
    padding:1em;
}

.poster p:not(.description_title) {
    font-size:13px;
}


/*.body {
    padding-bottom:1em;
}*/
@media only screen and (max-width:995px){
    .interface img {
        margin-top:1%;
        margin-bottom:1%;
    }
}