@charset 'UTF-8';

.body {
    background: url(../images/designlab/background_photo.jpg) no-repeat center bottom;
    background-size:cover;
    background-attachment:fixed;
    width:100%;
    position:relative;
}

.feature_descriptions {
    border:1px solid #e2e2e2;
    background-color:#fafafa;
}

.feature_descriptions .col-md-6:first-child {
    border-right:1px solid #e2e2e2;
}

.feature_descriptions .col-md-6 {
    padding:28px;
}

.feature_descriptions .subtitle_list {
    border-bottom:1px solid #e2e2e2;
    margin-bottom:14px;
}

.quotes {
    font-weight:400;
    size:14px;
    color:#000;
    letter-spacing:.5px;
    font-style: italic;
}

@media only screen and (max-width:995px){
    .peer_feedback_challenge, .thirds-section, .feature_descriptions, .method-description  {
        margin-top:35px;
    }

    .feature_descriptions .col-md-6:first-child {
        border:none;
    }

}
