@charset 'UTF-8';


.prototypes img {
    padding:1em;
}

.wireframes img {
padding:0.5em;
}

.step_description.approach{
    padding:0 20px;
}

.userResearch img {
    margin-top:2em;
    margin-bottom:1em;
}


.first .prototypes img, .gray img, .white img{
    border: 2px solid #e8e7e7;
}

.gray {
    background-color:#e8e7e7;
    padding:1em;
}

.white {
    padding:1em;
}

.gray h4, .white h4 {
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    margin-top:7em;
    color:#838282;
}

.prototypes {
    margin-top:40px;
}

.curation_styles {
    margin-top:19px;
}

.insights {
    margin-top:30px;
}


@media only screen and (max-width:995px){

    .parallelResearchP {
        margin-top:2%;   
    }
    
    .gray h4, .white h4 {
    margin-top:2em;
}
}
