@charset 'UTF-8';

.motivation p{
    line-height:170%;
}

.prototypes img {
    margin-top:2%;
    margin-bottom:2%;
}

footer {
    margin-top:5%;
}


.wireframes img {
    margin-bottom:2%;
    padding:1%;
}


#title {
    text-align: center;
}



#title span {
    letter-spacing: 0.17em;
    font-weight:700;
}

#description {
    text-align:center;
}

.right-side {
    padding-right:3%;
    padding-left:3%;
}

.process, .userResearch{
    margin-bottom:5%;
    
}

.userResearch, .future{
    margin-top:4.5%;
}

.userResearch img {
    margin-top:2em;
    margin-bottom:1em;
}

.prototypes {
    margin-top:4%;
    margin-bottom:3%;
}

.right-side a{
        color:#e6817d;
    font-weight:400;
}



.right-side a:hover{
    color:#82d3a5;
    text-decoration: none;
}

.first .prototypes img{
    border: 2px solid #d8d8d8;
}

.gray {
    background-color:gainsboro;
    padding:1em;
}

.white {
    padding:1em;
}


@media only screen and (max-width:995px){

    .parallelResearchP {
        margin-top:2%;   
    }
}
