@charset 'UTF-8';

.motivation p{
    line-height:170%;
}

.prototypes img {
    margin-top:2%;
    margin-bottom:2%;
}

footer {
    margin-top:5%;
}


.wireframes img {
    margin-bottom:2%;
    padding:1%;
}



#description {
    text-align:center;
}

.right-side {
    padding-right:3%;
    padding-left:3%;
}

.process, .userResearch{
    margin-bottom:5%;
    
}

.userResearch, .future{
    margin-top:4.5%;
}

.userResearch img {
    margin-top:2em;
    margin-bottom:1em;
}

.prototypes {
    margin-top:5em;
    margin-bottom:3em;
}

.right-side a{
        color:#e6817d;
    font-weight:400;
}



.right-side a:hover{
    color:#82d3a5;
    text-decoration: none;
}

.first .prototypes img{
    border: 2px solid #e8e7e7;
}

.gray {
    background-color:#e8e7e7;
    padding:1em;
}

.white {
    padding:1em;
}

.gray h4, .white h4 {
    font-weight:400;
    font-family: 'Open Sans', sans-serif;
    margin-top:8em;
    color:#838282;
}

.gray img, .white img {
    border: 2px solid #e8e7e7;
}

.first {
    margin-top:4%;
}


@media only screen and (max-width:995px){

    .parallelResearchP {
        margin-top:2%;   
    }
}
