@charset 'UTF-8';

.screenshots img {
    margin-top:2%;
    margin-bottom:2%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
    margin-top:2%;
    margin-bottom:3%;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.processPictures img {
        padding-left:0.5em;
    padding-right:0.5em;
    margin-bottom:0.7em;
}


.process p {
  font-size:13px;
  line-height: 160%;
}

.videoWrapper.invision {
  padding-bottom:118%;
}


