.right-side {
    padding-left:3%;
    padding-right:3%;
}

.right{
    float:right;
}

.left {
    float:left;
}

.first_prototype{
    margin-top:3%;
}

.first_prototype p{
    color:#000000;
}

.video {
    margin-bottom:2%;
}

.paper_prototypes, .screenshots_final{
   
    padding-top:3%;
    padding-bottom:5%;
}

.screenshots_final {
    margin-top:1%;
}


iframe {
    margin-bottom:4%;
    margin-top:4%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.final_prototype {
    padding-top:5%;
    padding-bottom:5%;
}


.screenshots_final img, .paper_prototypes img{
    margin-bottom:2%;
}

.design_user p{
    line-height:200%;
}

.video p, .final_prototype p{
    line-height:160%;
}





#section_title{
    font-size:22px;
    font-weight:700;
    letter-spacing:0.15em;
}

.description a{
        color:#db5d58;
    font-weight:700;
}

.first_prototype a, .final_prototype a, .design_user a{
    color:#db5d58;
}


.first_prototype a:hover, .final_prototype a:hover, .description a:hover{
    color:#82d3a5;
    text-decoration:none;
}

.small {
    display:none;
}


@media only screen and (max-width:1200px){

    .disappear {
        display:none;   
    }
}




@media only screen and (max-width:995px){

    
    .large{
        display:none;   
    }
    
    .small {
        display:block;   
    }
    

    
    .motivation p, .description p{
        line-height:170%;
    }
    
    .firstp_info, .finalp_info{
    display:none;
}
    
    .jumbotron p, .jumbotron a{
        font-size:20px;   
    }
    
    /*.jumbotron img {
        margin-top:0%;   
    }*/
    
   iframe {
        height:100%;
        width:100%;
        margin-bottom:2%;

    }
    
     .videoWrapper{
        margin-bottom:3%;   
     }
}






