

.problem_solution img{
    margin-bottom:35px;
}

.final_prototypes_images img{
    padding:12px;
}

.video {
    margin-bottom:2%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
    margin-top:35px;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



@media only screen and (max-width:995px){

/*    .firstp_info, .finalp_info{
    display:none;
}*/

.eye-tribe {
    margin-top:35px;
}

.lockedinsyndromeimage {
    margin-bottom:35px;
}
    
    
   iframe {
        height:100%;
        width:100%;
        margin-bottom:2%;

    }
    
     .videoWrapper{
        margin-bottom:7%;   
     }
}






