.body {
    background: url(../images/myeplay/background-photo.jpg) no-repeat center bottom;
    background-size:cover;
    background-attachment:fixed;
    width:100%;
    position:relative;
}

.video {
    margin-bottom:2%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



.screenshots_final img, .paper_prototypes img{
    margin-bottom:2%;
}


.paper_prototypes .step_description{
    margin-bottom:21px;
}

.first_prototype .hidden-xs .description_title {
    text-align:left;
}

.small_pictures {
    margin-top:20px;
}




@media only screen and (max-width:995px){

/*    .firstp_info, .finalp_info{
    display:none;
}*/
    
    
   iframe {
        height:100%;
        width:100%;
        margin-bottom:2%;

    }
    
     .videoWrapper{
        margin-bottom:7%;   
     }
}






