@charset 'UTF-8';

.body {
    background: url(../images/timeline/background-photo.jpg) no-repeat center bottom;
    background-size:cover;
    background-attachment:fixed;
    width:100%;
    position:relative;
}



.process img {
    padding:0.5em;
}

/*fixed and relative time*/
.captions{
    font-size:18px;
    font-weight:700;
    text-align:center;
    margin-top:1%;
}


.need_solution .subtitle_list {
    margin-top:-15px;
    margin-bottom:20px;
}

.experiment_variables {
    text-transform: uppercase;
    font-weight:600;
    font-size:14px;
}




