@charset 'UTF-8';

.body {
    background: url(../images/flunkless/background-photo.jpg) no-repeat center bottom;
    background-size:cover;
    background-attachment:fixed;
    width:100%;
    position:relative;
}


.intropics img{
    padding:0.5em;
}

.finalprototypepics img{
    padding:0.7em;
}

.finalprototypepics {
    margin-top:2%;
}

.subtitle_description .bold {
    font-weight:600;
    font-size:19px;
    margin-bottom:20px;
    color:#000;
    line-height:145%;
}

#content5_title {
    font-weight:500;
    font-size:1.2em;
}

.affinity_photo {
    margin-top:21px;
}

.process img {
    margin-bottom:1em;
}

#h4{
    font-weight:400;
    font-size:1.1em;
}


.first_section h4 {
    line-height: 150%;
    font-weight:30px;
    margin-top:7%;
    margin-bottom:7%;
}

.problem_3 {
    padding:0;
}

.step_class .hollan_section {
    margin-top:30px;
}

