@charset 'UTF-8';



.the_process img{
    padding:0.5em;
}

.rest li{
    font-size:13px;
    line-height: 170%;
}


.challenge.step_class {
    margin: 0 0 90px 0;
    margin-top: 7px;
}

#challengep{
    font-size:15px;
    font-weight:600;
}

.section {
    padding-top:4em;
    padding-bottom:6em;
}

/*@media only screen and (max-width:700px){
    #lightbox_normal img{
        height:150px;
    }   
    
    #lightbox_normal .image_title {
        width: 170px; height: 170px;
    }
    

    

}*/


/*#goals, #assignments_tests, #todo, #event_class, #timeline, #process, #personal {
    text-decoration:none;
}

 .minimize, .maximize{
    height:1.3em;
}

.maximize{
    display:none;
}*/ 