@charset 'UTF-8';

.body {
    background: url(../images/timeline/background-photo.jpg) no-repeat center bottom;
    background-size:cover;
    background-attachment:fixed;
    width:100%;
    position:relative;
}


/*fixed and relative time*/
.captions{
    font-size:18px;
    font-weight:700;
    text-align:center;
    margin-top:1%;
}


.problem-solution {
    border-top:1px solid #ccc;
    padding-top:28px;
    margin-bottom:56px;
}
.problem-solution p{
    margin-bottom:14px;
}

.problem-solution .solution + .subtitle_title {
    margin-bottom:28px;
}

.problem-solution .solution {
     color:#6BB2BA;
}

.problem-solution .number {
    border-radius: 48px;
    color: #fff;
    font-size: 7px;
    background-color: #6BB2BA;
    position: absolute;
    height: 27px;
    width: 27px;
    top: -13px;
    right: 0;
}

.problem-solution .number p {
    position:absolute;
    top:4.5px;
    right:9px;
}

.experiment_variables {
    text-transform: uppercase;
    font-weight:600;
    color:#6BB2BA;
    font-size:21px;
}

.square_display.wireframe {
    margin-top:63px;
}

@media only screen and (max-width:995px){
    .peer_feedback_challenge, .final_prototype_needs_solutions{
        margin-top:35px;
    }

    .feature_descriptions .col-md-6:first-child {
        border:none;
    }

}




