@charset 'UTF-8';



/*.circle{
	border-radius:50%;
	background-color:#000000;
	height:40px;
	width:40px;
	position:relative;
	right:18px;
	top:10px;
}

.line{
	float:left;
}*/

.problem {
    padding:3%;
}

.right-side {
    padding-right:2%;
    padding-bottom:2%;
}

.right-side a{
        color:#e6817d;
    font-weight:400;
    text-decoration: none;
}





.right-side a:hover{
    color:#82d3a5;
    text-decoration: none;
}

.intropics img{
    margin-top:2%;
}

.finalprototypepics img{
    margin-top:1%;
    margin-bottom:2%;
}

.finalprototypepics {
    margin-top:2%;
}

#content5_title {
    font-weight:500;
    font-size:1.2em;
}


#affinity{
height:100%;
width:100%;
    margin-left:-20px;
}

.content{
	padding:1% 4%;
}

.process img {
    margin-bottom:1em;
}

.process {
    margin-bottom:1em;
}


@media only screen and (max-width:1200px){
	.problem_content3 img{
		width:110px;
	}

    
    #left{
        height:175px;
    }
    
    #right{
        height:175px;   
    }
    
    #vision_pp_lightbox .image_title{
    width: 110px; height: 110px;
    }
}




@media only screen and (max-width:990px){

    
    #left{
        height:300px;   
    }
    
    #right{
        height:300px;   
    }


    .line{
        display:none;   
    }
    


}


