@charset 'UTF-8';




.process img {
    padding:0.5em;
}

/*fixed and relative time*/
.captions{
    font-size:18px;
    font-weight:700;
    text-align:center;
    margin-top:1%;
}

.small {
    display:none;
}

.problem_solution .step_class{
    margin:0 0;
}


.ugh {
    margin-top:20px;
}

.section {
    padding-top:3em;
    padding-bottom:3em;
}

.need_solution .subtitle_list {
    margin-top:-15px;
    margin-bottom:20px;
}

.experiment_variables {
    text-transform: uppercase;
    font-weight:600;
    font-size:14px;
}



@media only screen and (max-width:995px){

  
    .ugh {
        margin-top:2%;   
    }


}



