.relative .hero_image {
	margin-top: 424px;
}


.stacked-images img{

	margin-bottom:24px;
	height:150px;
	border-radius:9px;
	width:100%;
}


.stacked-images a:last-child img{
  margin-bottom:0;
}
.stacked-images p:first-of-type{
	margin-bottom:16px;
}

.stacked-images .caption:last-child {
	margin-bottom:0;
	margin-top:0;
}

p.caption.inbetween {
	margin-bottom:32px;
	margin-top:0px;
}

h4 span {
	font-family:'Abhaya Libre', sans-serif;
	font-weight:300;
	font-size:32px;
	line-height:40px;
}

.step {
	margin-top:64px;
}

table {
	border-collapse: collapse;
	border-radius:10px;
	border-spacing:0;
	overflow:hidden;
	width:100%;
}
table th, td {
	padding:24px;
	text-align:left;
}

table th {
	font-weight:700;
	background-color: #FDF8F0;
}

table .result td, table .result th {
	background-color:#EDF3F3;
}


@media (max-width: 1320px) {
	.hero_image {
		width:100%;
	}
  .hero_image img {
		border-radius:0;
		width:100%;
	}
}

@media (max-width: 1200px) {


	.hero_image {
		padding:0 64px;
	}

  .hero_image img {
		border-radius:32px;
		width:calc(100% - 128px);
	}

	.relative .hero_image{
		margin-top:400px;
	}

	.stacked-images {
		margin-top:32px;
	}
}

@media (max-width: 1035px) {

	.relative .hero_image {
		margin-top: 300px;
	}
}

@media (max-width: 904px) {

	.hero_image {
		width:100%;
		padding:0;
	}
  .hero_image img {
		border-radius:0;
		width:100%;
	}

	.body {
		padding-bottom:96px;
	}

	.hero_image .absolute {
		position:relative;
		top:0;
	}

	.relative .hero_image{
		margin-top:0;
	}

	.hero_image_container {
		filter:none;
	}

	.step img {
		margin-top:32px;
	}




}

@media (max-width: 796px) {
	.body {
		padding-top:168px;
		padding-bottom:72px;
	}

}
