


@media only screen and (max-width: 1165px) and (min-width:1000px) {

	.relative .hero_image {
		margin-top: 350px;
	}
}

@media only screen and (max-width: 1000px) and (min-width:905px) {

	.relative .hero_image {
		margin-top: 250px;
	}
}

@media (max-width: 904px) {
	.body {
		padding-bottom:96px;
	}
}

@media (max-width: 796px) {
	.body {
		padding-top:168px;
		padding-bottom:72px;

	}
}

@media only screen and (max-width:780px){
  .role .row {
    display:flex;
    flex-direction:row;
  }
}
