@charset 'UTF-8';

body {
font-family: 'Karla', sans-serif;
}

body p{
	font-size:17px;
}

.jumbotron {
	background-color: #000;
	position:relative;
	top:40px;
	width:100%;
    height:400px;
}


.jumbotron p{
	color:#ffffff;
    font-size:18px;
    margin-top:10px;
    font-weight:400;
}



.jumbotron a{
    font-size:18px;
    color:#ffffff;
}

.jumbotron a:hover{
    text-decoration: none;
    color:#edd6b6;
}




.triangle {
    border-color: #000 transparent transparent transparent;
}

.trianglerec{
	left:50%;
	background-color:#ffffff;
}

.info {
    margin-top:1%;
}

footer {
    margin-top:5%;
}

@media only screen and (max-width:995px){

    /*what nav bar changes*/
    .jumbotron{
		top: -20px;
        height:100%;
                padding-left:0px;
        padding-right:0px;
	}

    .trianglerec{
		margin-top:-60px;
	}
    
    .triangle {
        margin-left:40%;   
    }

 /*end change*/ 
}