.relative .hero_image {
	margin-top: 424px;
}
.user-groups:nth-child(2) {
	margin-bottom:16px;
}

.user-groups .important_underline, .load-status .important_underline {
	font-size:21px;
	line-height:32px;
}

.load-status {
	display:flex;
	align-items: center;
}

.load-status img{
	height:100%;
}



.iteration-images .fancybox .middle {
	width:calc(33.33% - 36px);
	margin:0 16px;
	border-radius:10px;
}

.stacked-images img.first{
  margin-bottom: 24px;
}

.stacked-images img{
	width:100%;
}

.stacked-images a:last-child img{
  margin-bottom:0;
}

.problem.caption{
	text-align:center;
}

@media (max-width: 1200px) {

	.relative .hero_image {
		margin-top: 300px;
	}
}

@media (max-width: 1085px) {

	.relative .hero_image {
		margin-top: 248px;
	}
}

@media (max-width: 1035px) {

	.relative .hero_image {
		margin-top: 224px;
	}
}

@media (max-width: 950px) {

	.relative .hero_image {
		margin-top: 180px;
	}
}

@media (max-width: 904px) {


	.first-gif {
		margin-bottom:32px;
	}

	.body {
		padding-bottom:96px;
	}

	.hero_image .absolute {
		position:relative;
		top:0;
	}

	.relative .hero_image{
		margin-top:0;
	}

	.hero_image_container {
		filter:none;
	}

	.stacked-images img{
		width:calc(50% - 20px);
	}

	.stacked-images img.first {
		margin-right:32px;
		margin-bottom:0;
	}

	.stacked-images {
		margin-top:32px;
	}

	.load-status {
		display:block;
	}

	.load-status img {
		margin-bottom:24px;
	}




}

@media (max-width: 796px) {
	.body {
		padding-top:168px;
		padding-bottom:72px;
	}

	.iteration-images .fancybox .middle {
		border-radius:9px;
	}

}

@media only screen and (max-width:768px){
  .role .row {
    display:flex;
    flex-direction:row;
  }
}

@media only screen and (max-width:577px){
	.iteration-images .fancybox .middle {
    height:64px;
		border-radius:6px;
  }
}
