@charset 'UTF-8';


.final_prototype p{
    line-height:190%;
}


/*#lightbox_normal img{
    height:130px;
}

#lightbox_normal .image_title {
	width: 150px; height: 150px;
}*/

.process img {
    margin-bottom:1em;
}







